<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fernando Javier Caudillo</title>
    <link rel="stylesheet" type="text/css" href="/resources/main-page.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <!-- Vertical Side Navigation Bar -->
      <ul>
        <li><a href="#about-link" class="head-button"id="about"><h3>ABOUT</h3></a> </li>
        <li><a href="#portfolio-link"class="head-button" id="port"><h3>PORTFOLIO</h3> </a> </li>
        <li><a href="#contact-link" class="head-button"id="contact"><h3>CONTACT</h3> </a> </li>
      </ul>
    <!-- Top Heading -->

    <div id="intro">

      <p class ="intro-text"> <i class="fa fa-code" style="fa-lg"> </i>An enthusiastic student majoring in computer science at CSUMB(CSin3) looking to make a difference in the world. Love learning, pushing my limits, <i class="fa fa-android" style="fa-2x"></i>, <i class="fa fa-rebel" style="fa-2x"></i>, and especially coding.<i class="fa fa-code" style="fa-lg"> </i></p>
       <img src= "https://res.cloudinary.com/drowcbtjw/image/upload/v1488065905/random_1_yhxyom.jpg"alt="Picture of Fernando Javier Caudillo." id="selfie"> </img>
    </div>
    <!-- Middle Area -->
    <div id="text-box">
      <p> Hello World!</p>

    </div>
    <!-- Footers -->

    <div id="foot-top">
      <p> Hello World! </p>
    </div>
    <div id="foot-bottom">
      <p> Hello World! </p>

    </div>

  </body>
</html>
